// Main colors
$arena2_color : pink;

$arena2_color_shadow : red;

// Sizes
$fontSize : 125px;

// urls
$soldat_ctf_campeche : 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/31641881_10156209921002969_2402508309136408576_o.png?_nc_cat=102&_nc_sid=e007fa&_nc_oc=AQmqTE24mk-WVLwPBPMP_bN_oSpS-cbfQs0QO7Uk1JbF2uvEGnIwm0uZTyE5mhDd4rw&_nc_ht=scontent-arn2-1.xx&oh=deccfef0f485c6a55964f2f9e59bb3f4&oe=5EB9E450';
$soldat_dm_arena2 : 'bilder/arena2.png';


// Emojies
// 😭 🍃 ⚱️ ❄️ 🐍 ⛺